<!DOCTYPE HTML>
<!--//
This web page has been developed by Wani.
 - me@wani.kr
 - http://wani.kr
-->
<html lang="ko">
<head>

<title>Py Spatial Searcher</title>
<meta charset="utf-8" />

<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.min.css') }}" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>
<body>

<div id="map"></div>

<nav>
	<form method="post" action="/search" id="SearchForm">

		<input type="hidden" name="formula" id="SearchFormFormula" value="" />

		<select name="operate" id="SearchFormOperate">
			<option value="contains" selected>포함(Contains)</option>
			<option value="cosses">가로지름(Crosses)</option>
			<option value="disjoint">불포함(Disjoint)</option>
			<option value="equals">같음(Equals)</option>
			<option value="intersects">겹침(Intersects)</option>
			<option value="overlaps">Overlaps</option>
			<option value="touches">닿음(Touches)</option>
			<option value="within">포함됨(Within)</option>
		</select>

		<input type="text" name="keyword" id="SearchFormKeyword" autofocus placeholder="검색어" />

		<!-- union(+), difference(-), intersection(*)-->
		<div class="controller controller-spatial" id="SearchFormSpatial">
			<div class="group">
				<input type="text" name="spatial[]" autocomplete="off" required placeholder="지명" class="spatial-name" />
				<select name="operator[]" class="spatial-operator">
					<option value="=">=</option>
					<option value="+">+</option>
					<option value="-">-</option>
					<option value="*">*</option>
				</select>
			</div>
		</div>
		<button type="submit">검색</button>
	</form>
	<div id="SearchFormAutocomplete"><ul></ul></div>
</nav>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ url_for('static', filename="js/jquery.autocomplete.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/GeoJSON.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/geometry.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/extra-form.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/home.min.js") }}"></script>
</body>
</html>